:root {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color:  #FFC3A1;
}

main {
  text-align: center;
  background-color: #FFF3E2;
  color: #A75D5D;
  padding: 2rem;
  margin: 2rem 6rem;
  border-radius: 10px;
}

.mainTitle {
  font-size: 40px;
}

button {
  border: #A75D5D 1px solid;
  color: white;
  background-color: #A75D5D;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 17px;
}

.subTitle {
  font-weight: normal;
  font-size: 34px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.form__input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.form__input-wrapper .form__input:focus, .form__select:focus {
  outline: 2px solid #F0997D; 
  border: none;
  color: #F0997D;
}

.form__input, .form__select{
  border: #A75D5D 1px solid;
  border-radius: 5px;
  color: #A75D5D;
  padding: 0.2rem;
  width: 200px;
  box-sizing: content-box;
}

.form__label {
  font-size: 14px;
  text-align: left;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-style: none;
  border: 1px solid #A75D5D;
  padding: 1rem 1rem 2rem 1rem;
}

.form__legend {
  font-weight: bold;
  font-size: 18px;
}

/* StaffList */

/* en-tetes */
.MuiBox-root {
  color: #A75D5D;
}

/* flèches de tri */
.MuiTableHead-root .MuiSvgIcon-root {
  color: #A75D5D;
}

/* texte des employés */
.MuiTableBody-root .MuiTableCell-root {
  color: #A75D5D;
}

/* bouton home */
.staff-list__button.MuiButton-outlined {
  border: #A75D5D 1px solid;
  color: white;
  background-color: #A75D5D;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 1.5rem;
  letter-spacing: 0.1rem;
}

/* boutons next & previous */
.staff-list__pagination.MuiButton-outlined {
  border: #A75D5D 1px solid;
  color: white;
  background-color: #A75D5D;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 1rem;
}

/* Style pour le bouton de la page en cours */
.staff-list__pagination.current-page.MuiButton-outlined {
  border: #A75D5D 1px solid;
  color:#A75D5D;
  background-color: white;
  padding: 0.5rem;
  border-radius: 5px;
}




:root {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color:  #FFC3A1;
}

main {
  text-align: center;
  background-color: #FFF3E2;
  color: #A75D5D;
  padding: 2rem;
  margin: 2rem 6rem;
  border-radius: 10px;
}

button {
  border: #A75D5D 1px solid;
  color: white;
  background-color: #A75D5D;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 1rem;
}

h2 {
  font-weight: normal;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.input-wrapper input:focus {
  outline: 2px solid #F0997D; 
  border: none;
  color: #F0997D;
}

input, select{
  border: #A75D5D 1px solid;
  border-radius: 5px;
  color: #A75D5D;
  padding: 0.2rem;
  width: 200px;
  box-sizing: content-box;
}

label {
  font-size: 14px;
  text-align: left;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-style: none;
  border: 1px solid #A75D5D;
  padding: 1rem 1rem 2rem 1rem;
}

/* StaffList */

/* en-tetes */
.MuiBox-root {
  color: #A75D5D;
}

/* flèches de tri */
.MuiTableHead-root .MuiSvgIcon-root {
  color: #A75D5D;
}

/* texte des employés */
.MuiTableBody-root .MuiTableCell-root {
  color: #A75D5D;
}

/* bouton home */
.staff-list__button.MuiButton-outlined {
  border: #A75D5D 1px solid;
  color: white;
  background-color: #A75D5D;
  padding: 0.5rem;
  border-radius: 5px;
}

/* boutons next & previous */
.staff-list__pagination.MuiButton-outlined {
  border: #A75D5D 1px solid;
  color: white;
  background-color: #A75D5D;
  padding: 0.5rem;
  border-radius: 5px;
}

/* Style pour le bouton de la page en cours */
.staff-list__pagination.current-page.MuiButton-outlined {
  border: #A75D5D 1px solid;
  color:#A75D5D;
  background-color: white;
  padding: 0.5rem;
  border-radius: 5px;
}